
@{
    ViewBag.Title = "Donate";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<h2>Donate Blood</h2>
<div class="row" ng-app="my-app">
    <div class="col-md-6 col-md-offset-3">
        <div class="well bs-component">


            <fieldset>
                <legend>My Status</legend>
                <div ng-controller="eligibleCtrl">
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-4 control-label">Is Eligible:</label>
                        <div class="col-lg-8">
                            <input type="text" readonly class="form-control" value={{eligible?"Yes":"No"}}>
                        </div>
                    </div>
                </div>
                <div ng-controller="userCtrl">
                    <form class="form-horizontal" ng-submit="Donate()" method="post">
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-4 control-label">Last Donated On:</label>
                            <div class="col-lg-8">
                                <input type="text" readonly class="form-control" value={{LastDonatedOn}}>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-4 control-label">Blood Group:</label>
                            <div class="col-lg-8">
                                <input type="text" readonly class="form-control" value={{BloodGroup}}>
                            </div>
                        </div>
                        <div ng-controller="allowedCtrl">
                            <div class="form-group" id="Message" style="display:none;">
                                <div class="col-lg-2"></div>
                                <div class="col-lg-8">
                                    <p style="color:red">You have already raised a request</p>
                                </div>
                                <div class="col-lg-2"></div>
                            </div>
                        </div>
                        <div id="Donate" class="form-group">

                            <label class="col-lg-4 control-label">Want To Donate?</label>
                            <div class="col-lg-8">

                                <button type="submit" class="btn btn-primary">Yes</button><br />
                            </div>

                        </div>
                    </form>
                </div>
            </fieldset>

        </div>
    </div>
    
    

</div>

@section scripts {
    <script>
        var app = angular.module("my-app", []);
        app.factory('interceptor', [function () {
                var interceptor = {
                    request: function (config) {
                        config.headers.Authorization = localStorage.getItem("tkey");
                        return config;
                    },
                    response: function (response) {
                        return response;
                    }
                };
                return interceptor;
        }]);
        app.config(function ($httpProvider) {
            $httpProvider.interceptors.push('interceptor');
        });
        app.controller('eligibleCtrl', function ($scope, $http) {
                var userId = localStorage.getItem("UserID");
                //alert("OK");
                $http.get("https://localhost:44390/api/user/iseligible/" + userId).then(function (resp) {
                    $scope.eligible = resp.data;
                }, function (err) {
                    $scope.msg = err.data.Msg;
                    console.log($scope.msg);
                });

        });
        app.controller('userCtrl', function ($scope, $http) {
            var userId = localStorage.getItem("UserID");
            //alert("OK");
            $http.get("https://localhost:44390/api/user/" + userId).then(function (resp) {
                $scope.LastDonatedOn = resp.data.LastDonatedOn;
                $scope.BloodGroup = resp.data.BloodGroup;
            }, function (err) {
                $scope.msg = err.data.Msg;
                console.log($scope.msg);
            });
            $scope.Donate = function () {
                Swal.fire({
                    title: 'Are you sure to donate blood?',
                    showDenyButton: true,
                    confirmButtonText: 'Yes',
                    denyButtonText: `No`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        var userId = localStorage.getItem("UserID");
                        $http.get("https://localhost:44390/api/donateblood/Donate/" + userId).then(function (resp) {
                            if (resp.data) {
                                Swal.fire({
                                    title: 'Your request has been saved successfully',
                                    confirmButtonText: 'Ok',
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        location.reload();
                                    }
                                })
                            }
                            else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Something went wrong'
                                });
                            }
                        }, function (err) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error',
                                text: 'Something went wrong'
                            });
                        });
                    } else if (result.isDenied) {
                        //Swal.fire('Changes are not saved', '', 'info')
                    }
                })
                


            };

        });
        app.controller('allowedCtrl', function ($scope, $http) {
            var userId = localStorage.getItem("UserID");
            //alert("OK");
            $http.get("https://localhost:44390/api/donateblood/isallowed/" + userId).then(function (resp) {
                $scope.isAllowed = resp.data;
                var element = document.getElementById('Donate');
                var msg = document.getElementById('Message');
                if ($scope.isAllowed) {
                    element.style.display = 'block';
                }
                else {
                    element.style.display = 'none';
                    msg.style.display = 'block';
                }
            }, function (err) {
                $scope.msg = err.data.Msg;
                console.log($scope.msg);
            });

        });

    </script>
}


