
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LoggedInLayout.cshtml";
}
<div ng-app="my-app">
    <div ng-controller="logoutCtrl" style="float: right !important;">
        <form ng-submit="logout()">
            <ul class="list-unstyled CTAs">
                <li><button type="submit" class="btn btn-danger article">LogOut</button></li>
            </ul>
        </form>

    </div>
    <br/>
    <br/>
    <h3>My Status</h3>
    <hr />
    <div ng-controller="eligibleCtrl">
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Is Eligible:</label>
                <div class="col-lg-10">
                    <label class="form-control">{{eligible ? "Yes" : "No"}}</label>
                </div>
            </div>
    </div>

    <div id="LastDonate" class="form-group">
        <div ng-controller="eligibleUpdateCtrl">
            <form class="form-horizontal" ng-submit="eligibleUpdate()" method="post">
                <label for="inputEmail" class="col-lg-2 control-label">Last Donated On:</label>
                <div class="col-lg-4">
                    <input type="date" ng-model="l.Date" class="form-control" name="Dob">
                </div>
                <div class="col-lg-6">
                    <button class="btn btn-danger" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var t = localStorage.getItem("UserTypeID");
            if (t && t != "2") {
                window.location.href = "https://localhost:44399/Account/UnAuthorized";
            }
        });
        var app = angular.module("my-app", []);
        app.factory('interceptor', [function () {
                var interceptor = {
                    request: function (config) {
                        config.headers.Authorization = localStorage.getItem("tkey");
                        return config;
                    },
                    response: function (response) {
                        return response;
                    }
                };
                return interceptor;
            }]);

            app.config(function ($httpProvider) {
                $httpProvider.interceptors.push('interceptor');
            });
         app.controller('logoutCtrl', function ($scope, $http) {
                $scope.logout = function () {
                    $http.get("https://localhost:44390/api/logout").then(function (resp) {
                        localStorage.clear();
                        window.location.href = "https://localhost:44399/Account/LogIn";
                    }, function (err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong'
                        });
                    });


                };
            });
        app.controller('eligibleCtrl', function ($scope, $http) {
                var userId = localStorage.getItem("UserID");
                //alert("OK");
                $http.get("https://localhost:44390/api/user/iseligible/" + userId).then(function (resp) {
                    $scope.eligible = resp.data;
                    var element = document.getElementById('LastDonate');
                    if ($scope.eligible) {
                        element.style.display = 'block';
                    }
                    else element.style.display = 'none';
                }, function (err) {
                    $scope.msg = err.data.Msg;
                });

        });
        app.controller('eligibleUpdateCtrl', function ($scope, $http) {
            $scope.eligibleUpdate = function () {
                $scope.l.Id = localStorage.getItem("UserID");
                var v = $scope.l;
                $http.post("https://localhost:44390/api/user/iseligibleupdate", v).then(function (resp) {
                    if (resp.data) {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong'
                        });
                    }
                }, function (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong'
                    });
                });


            };
        });

    </script>
    }

