
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" ng-app="my-app">
    <div class="col-md-6 col-md-offset-3">
        <div class="well bs-component">
            <div ng-controller="loginCtrl">
                <form class="form-horizontal" name="myForm" ng-submit="login()" method="post">
                    <fieldset>
                        <legend>LogIn</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">User</label>
                            <div class="col-lg-10">
                                <input type="text" name="Uname" class="form-control" ng-model="l.Uname" required placeholder="Email or UserName">
                                <span style="color:red" ng-show="myForm.Uname.$touched && myForm.Uname.$invalid">User Name or Email is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                            <div class="col-lg-10">
                                <input type="password" name="password" class="form-control" ng-model="l.Pass" required placeholder="Password">
                                <span style="color:red" ng-show="myForm.password.$touched && myForm.password.$invalid">Password is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">LogIn</button><br />
                                <span>Don't Have an account? </span>
                                <a href="/Account/SignUp">Sign Up</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

</div>
@section scripts {
    <script>
        var app = angular.module("my-app", []);

        //app.factory('interceptor', [function () {
        //    var interceptor = {
        //        request: function (config) {
        //            config.headers.Authorization = localStorage.getItem("tkey");
        //            debugger;
        //            return config;
        //        },
        //        response: function (response) {
        //            debugger;
        //            return response;
        //        }
        //    };
        //    return interceptor;
        //}]);

        //app.config(function ($httpProvider) {
        //    $httpProvider.interceptors.push('interceptor');
        //});

        app.controller('loginCtrl', function ($scope, $http) {
            $scope.login = function () {
                var v = $scope.l;
                $http.post("https://localhost:44390/api/login", v).then(function (resp) {
                    localStorage.setItem("tkey", resp.data.TKey);
                    localStorage.setItem("UserID", resp.data.UserID);
                    localStorage.setItem("Uname", resp.data.Uname);
                    localStorage.setItem("UserTypeID", resp.data.UserTypeID);
                    if (resp.data.UserTypeID == 1) {
                        window.location.href = "https://localhost:44399/Admin/Dashboard";
                    }
                    else {
                        window.location.href = "https://localhost:44399/Account/Dashboard";
                    }
                    
                }, function (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Invalid UserName or Password'
                    });
                });


            };
        });

    </script>


    }

