@{
    ViewBag.Title = "Home Page";
}

<div style="background-image: url('../../Content/images/blooddonate.jpg'); background-size: cover;">
    <div class="text-center " style="color: white; padding: 18rem 14rem; background-color: rgba(62,69,81,0.7);">
        <div>

            <!-- Content -->
            <h4 style="padding-bottom: .9rem">DONATE BLOOD, SAVE LIFE!</h4>
            <h1 style="padding-bottom: .9rem">DONATE YOUR BLOOD AND INSPIRE<br>OTHERS TO DONATE.</h1>
            <a class="btn btn-danger" href="/Account/SignUp">JOIN WITH US <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
<!-- Jumbotron -->

<div class="container-fluid" style="margin-top:5rem; margin-bottom:10rem" id="container">
    <div class="text-center" id="prompt">
        <div>
            <h4><strong>WE ARE HERE FOR HELPING PEOPLE</strong></h4>
            <p>
                You can give and also receive blood at any of our blood donation venues. We have several donor
                centers
                and visit other vanues on various occassions
            </p>
            <a href="/Account/LogIn" class="btn btn-danger">REQUEST APPOINTMENT</a>
        </div>
    </div>
</div>

<!-- Footer -->
<!--<footer class="page-footer font-small pt-4">-->
<!-- Footer Links -->
<!--<div class="container-fluid text-center text-md-left">-->
<!-- Grid row -->
<!--<div class="row">-->
<!-- Grid column -->
<!--<div class="col-md-6 mt-md-0 mt-3">-->
<!-- Content -->
<!--<h5 class="text-uppercase">Lets make all Bonded</h5>
    <p>
        Bonded is a web based blood Donation platform which connects thousands of blood donors in three
        simple steps. Bonded ensures hassle free blood donation and privacy of a blood donor. A blood
        donor can select any specific date and location to donate blood and find a suitable person who
        needs blood.
    </p>

</div>-->
<!-- Grid column -->
<!--<hr class="clearfix w-100 d-md-none pb-3">-->
<!-- Grid column -->
<!--<div class="col-md-3 mb-md-0 mb-3">-->
<!-- Links -->
<!--<h5 class="text-uppercase">Contact Us</h5>

    <ul class="list-unstyled">
        <li>
            <a href="mailto:webmetry@post.com">
                <i class="fas fa-envelope-open mr-3"></i>webmetry@post.com
            </a>
        </li>
        <li>
            <a href="#!"><i class="fas fa-location-arrow mr-3"></i>Agartala,Tripura 799130</a>
        </li>
        <li>
            <a href="#!"><i class="fas fa-tty mr-3"></i>+91-123-456-7890</a>
        </li>
    </ul>

</div>-->
<!-- Grid column -->
<!-- Grid column -->
<!--<div class="col-md-3 mb-md-0 mb-3">-->
<!-- Links -->
<!--<h5 class="text-uppercase">Support Links</h5>

    <ul class="list-unstyled">
        <li>
            <a href="#!">Link 1</a>
        </li>
        <li>
            <a href="#!">Link 2</a>
        </li>
        <li>
            <a href="#!">Link 3</a>
        </li>
        <li>
            <a href="#!">Credits</a>
        </li>
    </ul>

</div>-->
<!-- Grid column -->
<!--</div>-->
<!-- Grid row -->
<!--</div>
<div class="container">-->
<!-- Grid row-->
<!--<div class="row">-->
<!-- Grid column -->
<!--<div class="col-md-12 py-5">
    <div class="mb-5 flex-center">-->
<!-- Facebook -->
<!--<a class="fb-ic">
    <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
</a>-->
<!-- Twitter -->
<!--<a class="tw-ic">
    <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
</a>-->
<!-- Google +-->
<!--<a class="gplus-ic">
    <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
</a>-->
<!--Linkedin -->
<!--<a class="li-ic">
    <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
</a>-->
<!--Instagram-->
<!--<a class="ins-ic">
    <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
</a>-->
<!--Pinterest-->
<!--<a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
        </a>
    </div>
</div>-->
<!-- Grid column -->
<!--</div>-->
<!-- Grid row-->
<!--</div>-->
<!-- Footer Links -->
<!-- Copyright -->
<!--<div class="footer-copyright text-center py-3">
    © 2019 Copyright:
    <a href="index.html"> Bonded</a> All Rights Reserved
</div>-->
<!-- Copyright -->
<!--</footer>-->