
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="row" ng-app="my-app">
    <div ng-controller="logoutCtrl" style="float: right !important;">
        <form ng-submit="logout()">
            <ul class="list-unstyled CTAs">
                <li><button type="submit" class="btn btn-danger article">LogOut</button></li>
            </ul>
        </form>

    </div>
    <br />
    <br />
    <h2>Edit User</h2>

    <div class="col-md-6 col-md-offset-3">
        <div class="well bs-component">
            <div ng-controller="dataCtrl">
                <form class="form-horizontal" ng-submit="update()" method="post">
                    <fieldset>
                        <legend>Profile</legend>
                        <div class="form-group">
                            <label class="col-lg-4">User Name:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.UserName" value={{l.UserName}} placeholder="User Name">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4">First Name:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.FirstName" value={{l.FirstName}} placeholder="First Name">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4">Last Name:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.LastName" value={{l.LastName}} placeholder="Last Name">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4">Email:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.Email" value={{l.Email}} placeholder="Email">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 ">Date Of Birth:</label>
                            <div class="col-lg-8">
                                <input type="date" disabled class="form-control" ng-model="l.Dob" value={{l.Dob}}>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4">Gender:</label>
                            <div class="col-lg-8">
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="male" name="gender" disabled>
                                        Male
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" id="female" name="gender" disabled>
                                        Female
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 ">House & RoadNo:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.Address1" value={{l.Address1}} placeholder="Enter your House,Road,Block">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4">Area:</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" ng-model="l.Address2" value={{l.Address2}} placeholder="Enter Your Area,District">

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-4">Blood Group</label>
                            <div class="col-lg-8">
                                <select class="form-control" ng-model="l.BloodGroup" disabled id="bloodSelect">
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-8 col-lg-offset-4">

                                <button type="submit" class="btn btn-danger">Edit</button><br />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>

</div>
@section scripts {
    <script>
            $(document).ready(function () {
                var t = localStorage.getItem("UserTypeID");
                if (!t) {
                    window.location.href = "https://localhost:44399/Account/LogIn";
                }
            if (t && t != "1") {
                window.location.href = "https://localhost:44399/Account/UnAuthorized";
            }
        });
        var app = angular.module("my-app", []);
        app.factory('interceptor', [function () {
            var interceptor = {
                request: function (config) {
                    config.headers.Authorization = localStorage.getItem("tkey");
                    return config;
                },
                response: function (response) {
                    return response;
                }
            };
            return interceptor;
        }]);
        app.config(function ($httpProvider) {
            $httpProvider.interceptors.push('interceptor');
        });
        app.controller('dataCtrl', function ($scope, $http) {
            var userId = @ViewBag.Id;
            $scope.l = {};
            $http.get("https://localhost:44390/api/user/" + userId).then(function (resp) {
                $scope.l.Id = userId;
                $scope.l.UserName = resp.data.UserName;
                $scope.l.FirstName = resp.data.FirstName;
                $scope.l.LastName = resp.data.LastName;
                $scope.l.Email = resp.data.Email;
                $scope.l.Address1 = resp.data.Address1;
                $scope.l.Address2 = resp.data.Address2;
                $scope.l.Gender = resp.data.Gender;
                var d = resp.data.Dob;
                d = d.split('T')[0];
                $scope.l.Dob = new Date(d);
                document.getElementById('bloodSelect').value = resp.data.BloodGroup;
                $scope.l.BloodGroup = resp.data.BloodGroup;
                if (resp.data.Gender == "Male") document.getElementById("male").checked = true;
                else document.getElementById("female").checked = true;
            }, function (err) {
            $scope.msg = err.data.Msg;
            console.log($scope.msg);
            });
            $scope.update = function () {
                $scope.l.UserTypeId = 2;
                var v = $scope.l;
                $http.post("https://localhost:44390/api/user/update", v).then(function (resp) {
                    Swal.fire({
                        title: 'Your informations are updated successfully',
                        confirmButtonText: 'Ok'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            location.reload();
                        }
                    })
                }, function (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong'
                    });
                });
            };
        });
        app.controller('logoutCtrl', function ($scope, $http) {
            $scope.logout = function () {
                $http.get("https://localhost:44390/api/logout").then(function (resp) {
                    localStorage.clear();
                    window.location.href = "https://localhost:44399/Account/LogIn";
                }, function (err) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Something went wrong'
                    });
                });


            };
        });
    </script>

}

